.global-header {
	.header-icon {
		padding: 2.5em 0.25em;
	}
}

.logo {
	margin: 0.4em 0;
	a {
		// background: transparent url(asset_path(#{"logo-odot.svg"})) no-repeat center center;
		background-size: contain;	
		display:block;
		height: 34px;
	}
}

.page-title {
	background: $orange;
	color: #FFF;
	text-align: center;
	padding: 0.5em;
	font-size: 1.5rem;
}

.header-icon {
	margin-top:20px;
}

.right-header {
	position: absolute;
	top:34px;
	right: 0px;

}

.left-header {
	position: absolute;
	top:34px;
	left:-100px;
	z-index: 99;

}

.pipe {
	color:#Fb4;
	padding: 10px;
}


@media only screen and (max-width: 640px) {

	.right-header {
 display: none;

}

.left-header {
 display: none;

}

.pipe {
 display: none;
}

#aboutthecreator, h5 {
	display: none;
}
#why_manus, h5 {
	display: none;
}

}
@media only screen and (max-width: 1205px) {


.left-header {
	left:0px;

}


}



